<doctype html>
    <head>
        {%block head%}
        <title>{%block title%}{%endblock%}</title>
        {%block styles%}
        <link href="{{url_for('static',filename='css/bootstrap.css',_external=True)}}" rel='stylesheet'>
        <link href="{{url_for('static',filename='css/navigation.css',_external=True)}}" rel='stylesheet'>
        {%endblock%}
        {%block metas%}
        {%endblock%}
        {%endblock%}
    </head>
    <body>
        {%block scripts%}
        {%endblock%}
{%block navbar%}
<div class='navbar navbar-inverse' role='navigation'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <button type='button' class='navbar-nav ml auto' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='#'>Flasky</a>
        </div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li><a href='/'>Home</a></li>
                <li><a href='#'>About</a></li>
            </ul>
        </div>
    </div>
    </div>
{%endblock%}

        {%block content%}
        <div class='container'>
            {%block head_content%}
            {%endblock%}
        </div>
        {%endblock%}
    </body>
    </html>
